h1, h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    margin-top: 30px;
}

h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 18px;
    margin-top: 36px;
}

p {
    line-height: 1.8;
}

a {
    color: #CE2323;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
}

header {
    padding: 10px 50px;
}

header h1 {
    text-align: right;
}

header h1 a {
    color: inherit;
    text-decoration: none;
}

footer .logo {
    height: 50px;
    float: right;
    margin: 20px;
}

pre {
    padding: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #888;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    overflow-x: auto;
    line-height: 1em;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

pre code {
    display: block;
    padding: 0.5em 1em;
    
    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.container {
    padding: 20px 80px;
}

ul.posts {
    padding-left: 0px;
}

ul.posts li {
    border-bottom: 1px solid #eeeeee;
}

.posts p {
    margin-bottom: 36px;
}

article .title {
    margin-bottom: 50px;
}

article h1 {
    color: #CE2323;
    font-size: 36px;
}

.meta {
    display: block;
    margin-bottom: 14px;
    color: #8d8d8d;
}

h2 .meta {
    float: right;
    font-size: 15px;
}

.pagination .prev {
    display: block;
}

.pagination .next {
    display: block;
}
