---
layout: default
---
<header class="cover">
  <div class="container post-container">
    <a href="{{ site.baseurl }}/" class="home_button"></a>
    <div class="inner-container">
      <h1>{{ page.title }}</h1>
      <ul class="meta">
        <li>
          <span>
            Published
          </span>
          {{ page.date | date_to_string }}
        </li>
        <li>
          <span>
            Category
          </span>
          {{ page.categories }}
        </li>
      </ul>      
    </div>
    <ul class="pagination">
      {% if page.previous.url %}
        <li class="previous">
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
            Previous
          </a>
        </li>
      {% endif %}
      {% if page.next.url %}
      <li class="next">
        <a href="{{ site.baseurl }}{{ page.next.url }}">
          Next
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>

<article>
  <div class="container">
    {{ content }}
    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'predatorray';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>
</article>
